<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Cadastro Tipo de Parques</title>
<link href="parque.css" rel="stylesheet">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> 
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">  
</head>
<body>
	
	<fieldset>
		 <div class="row">
	    <form class="col s12" action="salvarTipos" method="post" accept-charset="utf-8">
	    <input type="hidden" th:value="${parque?.id}" name="id">
	      <div class="row">
	        <div class="input-field col s4">
	          <i class="material-icons prefix">local_play</i>
	          <input id="icon_prefix" type="text" class="validate" name="nome" th:value="${parque?.nome}">
	          <label for="icon_prefix">Tipo</label>
	        </div>
	        <div class="input-field col s7">
	          <i class="material-icons prefix">bubble_chart</i>
	          <input id="icon_telephone" type="tel" class="validate" name="palavraChave" th:value="${parque?.palavraChave}">
	          <label for="icon_telephone">Palavra-Chave</label>
	        </div>
	      </div>
	    
	        <div class="row">
	          <div class="input-field col s10">
	          <i class="material-icons prefix">short_text</i>
	            <textarea id="textarea2" class="materialize-textarea" name="descricao" th:value="${parque?.descricao}"></textarea>
	            <label for="textarea2">Descrição</label>
	          </div>
	        </div>
	        
	         <button class="btn waves-effect waves-light" type="submit" name="action">Submit
			    <i class="material-icons right">send</i>
			  </button>
	    </form>
	  </div>
  
  	 <div th:replace="fragments/mensagens"></div>
  
  </fieldset>
	

</body>
</html>