fieldset{
	width: 500px !important;
	margin-top: 100px !important;
}

.btn, .btn-large, .btn-small {
    text-decoration: none;
    color: #fff;
    background-color: black !important;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
    border-radius: 10px !important;
}

input[type=email]:not(.browser-default):focus:not([readonly]){
	border-bottom: 1px solid #9e9e9e !important;
	box-shadow: 0 1px 0 0 #9e9e9e !important;
}

input[type=password]:not(.browser-default):focus:not([readonly]){
	border-bottom: 1px solid #9e9e9e !important;
	box-shadow: 0 1px 0 0 #9e9e9e !important;
}

.input-field .prefix.active{
	color: black !important;
}

label {
	color: #9e9e9e !important;
}
.cadastroLogin{
	margin-left: 800px;
	margin-top: 50px;
	height: 40px;
	width: 300px;
	border-radius: 15px;
	background-color: white;
	
}


