.sucesso{
	background-color: #9AEBA3;
	padding:1.3em;
	width: 500px;
	border-radius: 10px;
	text-align: center;
	color: white;
}

.erro{

	background-color: #ff6666;
	padding:1.3em;
	width: 500px;
	border-radius: 10px;
	text-align: center;
	color: white;	
}

fieldset {
	width: 50%;
	margin: auto;
	margin-top: 30px;
}


.btn, .btn-large, .btn-small {
    text-decoration: none;
    color: #fff;
    background-color: black !important;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
    border-radius: 10px !important;
}

