.sucesso{
	background-color: #9AEBA3;
	padding:1.3em;
	width: 500px;
	border-radius: 10px;
	text-align: center;
	color: white;
}

.erro{

	background-color: #ff6666;
	padding:1.3em;
	width: 500px;
	border-radius: 10px;
	text-align: center;
	color: white;	
}


fieldset {
	width: 50%;
	margin: auto;
	margin-top: 30px;
}

.fieldset2{
	width: 95%;
	margin: auto;
}

.btn, .btn-large, .btn-small {
    text-decoration: none;
    color: #fff;
    background-color: black !important;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
    border-radius: 10px !important;
    margin-top: 40px;
}

input {
	margin-left: 7px !important;
}

label {
	margin-left: 7px !important;
}

select.browser-default {
    display: inline !important;
    margin-top: 20px !important;
    width: 37% !important;
    margin-left: 40px;
}

input[type=text]:not(.browser-default):focus:not([readonly]){
	border-bottom: 1px solid #9e9e9e !important;
	box-shadow: 0 1px 0 0 #9e9e9e !important;
}

[type="checkbox"]:checked+span:not(.lever):before {
    top: -4px;
    left: -5px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid black !important;
    border-bottom: 2px solid black !important;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

label {
	color: #9e9e9e !important;
}


